# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
canbus_uuid: b36582c0517b

#[adxl345]
#cs_pin: EBBCan: PB12
#spi_software_sclk_pin: EBBCan: PB10
#spi_software_mosi_pin: EBBCan: PB11
#spi_software_miso_pin: EBBCan: PB2
#axes_map: x,y,z

#[input_shaper]
#shaper_freq_x: 0
#shaper_type_x: mzv
#shaper_freq_y: 34.6
#shaper_type_y: mzv

#[extruder]
#step_pin: EBBCan: PD0
#dir_pin: EBBCan: PD1
#enable_pin: !EBBCan: PD2
#microsteps: 16
#rotation_distance: 7.17
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: EBBCan: PB13
#sensor_type: ATC Semitec 104NT-4-R025H42G
#pressure_advance: 0.082
#pressure_advance_smooth_time: 0.040
#sensor_pin: EBBCan: PA3
#control: pid
#pid_Kp: 22.713
#pid_Ki: 2.294
#pid_Kd: 56.219
#min_temp: 0
#max_temp: 300

# sensor_type:MAX31865
# sensor_pin: EBBCan: PA4
# spi_bus: spi1
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2

#[tmc2209 extruder]
#uart_pin: EBBCan: PA15
#run_current: 0.70
#stealthchop_threshold: 999999

#[fan]
#pin: EBBCan: PA0

#[heater_fan hotend_fan]
#pin: EBBCan: PA1
#heater: extruder
#heater_temp: 50.0

#[neopixel hotend_rgb]
#pin: EBBCan:PD3

#[bltouch]
#sensor_pin: ^EBBCan:PB8
#control_pin: EBBCan:PB9

#[gcode_macro PROBE_DOWN]
#gcode:
    #SET_PIN PIN=probe_enable VALUE=1

#[gcode_macro PROBE_UP]
#gcode:
    #SET_PIN PIN=probe_enable VALUE=0

#[output_pin probe_enable]
#pin: EBBCan:PB9  # Set to the control pin on your board
#value: 0

#[probe]
#pin: ^!EBBCan:PB8  # NOTE FOR V2 users: Set this to ^!PC14 to set the low level trigger 
#deactivate_on_each_sample: False
#x_offset: 26
#y_offset: -2
#z_offset: 1.185  # Will be overridden when you do a PROBE_CALIBRATE
#samples: 2
#samples_tolerance: 0.05
#samples_tolerance_retries: 3
#activate_gcode:
    #PROBE_DOWN
    #G4 P500
#deactivate_gcode:
    #PROBE_UP

[filament_switch_sensor switch_sensor]
switch_pin: EBBCan:PB4

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB3